body{
  background-image: url(images/wallpaper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}

.math{
  position: absolute;
  top: 55%;
  left: 35%;
  right: 35%;
}

.crypto{
  position: absolute;
  top: 39.5%;
  left: 35%;
  right: 35%;
}

.link img{
  max-width: 100%;
}


