body{
  background-image: url(images/wallpaper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}

.math{
  position: absolute;
  top: 55%;
  left: 35%;
  right: 35%;
}

.crypto{
  position: absolute;
  top: 39.5%;
  left: 35%;
  right: 35%;
}

.link img{
  max-width: 100%;
}

@media only screen and (max-height: 500px) {
  .math{
    position: absolute;
    top: 55%;
    left: 35%;
    right: 35%;
  }

  .crypto{
    position: absolute;
    top: 20%;
    left: 35%;
    right: 35%;
  }
 }
 @media only screen and (max-width: 631px) {
   .math{
     position: absolute;
     top: 55%;
     left: 35%;
     right: 35%;
   }

   .crypto{
     position: absolute;
     top: 49%;
     left: 35%;
     right: 35%;
   }
}
